{% include 'assets.html.twig' %}


{% block body %}

    <div class="container d-flex flex-column justify-content-center align-items-center h-100">

        <div><h2>Logout from your account</h2></div>
        <div><p>See you later :)</p></div>

    </div>



{% endblock %}
